extends layout

block content
	include ./header.jade
	include ./categories.jade

	.form
		form(method="post" id="editRecipe" action="/#{recipes._category._id}/#{recipes._id}/edit?_method=PUT")
			label(for="title") Title
			input(type="text" id="title" name="title" value="#{recipes.title}")
			br
			label(for="category") Category
			select(id="category" name="category")
				each category in categories
					if category._id === recipes._category._id
						option(selected value="#{category._id}") #{category.title}
					else
						option(value="#{category._id}") #{category.title}
			br
			label(for="ingridients") Ingridients
			input(type="text" id="ingridients" name="ingridients" value="#{recipes.ingridients}")
			br
			label(for="content") Your Recipe
			input(type="text" id="content" name="content" value="#{recipes.content}")
			br
			input(type="submit" id="submit" value="Update")