extends layout

block content
	include ./header.jade
	include ./categories.jade

	h1= recipes.title
	p= recipes.ingridients
	p= recipes.content
	p= recipes.date
	.edit
		button(onClick="location.href='/edit?category=#{recipes._category._id}&recipe=#{recipes._id}'") Edit
	.versions
		ul
			each version in versions
				li: a(href="/#{recipes._category._id}/#{recipes._id}?version=#{version.refVersion}") #{version.lastModified}